:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(13, 24, 175, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each-card {
  border: solid 1px black;
  text-align: center;
  width: 600px;
  margin: 10px;
  display: flex;
  padding: 25px 15px;
  gap: 20px;
  color: black;
  text-align: left;
}

.each-card img {
  width: 250px;
}

.each-card h3 {
  margin: 0;
}

.each-card p span {
  font-weight: bold;
}

.label {
  border: solid 1px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: small;
}

.greatDeal-btn {
  background-color: green;
}

.premium-btn, .allInclusive-btn {
  background-color: blue;
}

